<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
      point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="org.archicontribs.database.MyModelExporter"
            id="org.archicontribs.database.MyModelExporter"
            label="Export model to database">
      </exportHandler>
   </extension>
   <extension
      point="com.archimatetool.editor.importHandler">
      <importHandler
            class="org.archicontribs.database.MyModelImporter"
            id="org.archicontribs.database.MyModelImporter"
            label="import model from database">
      </importHandler>
   </extension>
</plugin>
