<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
      point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="org.archicontribs.database.DBExporter"
            id="org.archicontribs.database.DBExporter"
            label="Export model to database">
      </exportHandler>
   </extension>
   <extension
      point="com.archimatetool.editor.importHandler">
      <importHandler
            class="org.archicontribs.database.DBImporter"
            id="org.archicontribs.database.DBImporter"
            label="import model from database">
      </importHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.database.DBPreferencePage"
            id="org.archicontribs.database.DBPreferencePage"
            name="database plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.archicontribs.database.DBPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
