.image {
	border: 1px solid #0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #ccc;
	-moz-box-shadow: 10px 10px 5px #ccc;
	-webkit-box-shadow: 10px 10px 5px #ccc;
	-khtml-box-shadow: 10px 10px 5px #ccc;
}
li.selected {
	background: url('../img/selected.png') no-repeat left top;
	padding-left: 20px;
	display: block;
}
li.not_selected {
	background: url('../img/not_selected.png') no-repeat left top;
	padding-left: 20px;
	display: block;
}