<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
      point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="org.archicontribs.database.DBExporter"
            id="org.archicontribs.database.DBExporter"
            label="Export model to database    Ctrl+Shift+E">
      </exportHandler>
   </extension>
   <extension
      point="com.archimatetool.editor.importHandler">
      <importHandler
            class="org.archicontribs.database.DBImporter"
            id="org.archicontribs.database.DBImporter"
            label="import model from database    Ctrl+Shift+I">
      </importHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.database.preferences.DBPreferencePage"
            id="org.archicontribs.database.DBPreferencePage"
            name="database plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.archicontribs.database.model.DBArchimateFactory"
            uri="http://www.archimatetool.com/archimate">
      </factory>
      <factory
            class="org.archicontribs.database.model.DBCanvasFactory"
            uri="http://www.archimatetool.com/archimate/canvas">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archicontribs.database.menu.DBMenuComponentHistoryHandler"
            id="org.archicontribs.database.componentHistoryCommand"
            name="componentHistoryCommand">
         <commandParameter
               id="org.archicontribs.database.componentHistoryCommand.mustConsiderConceptParameter"
               name="mustConsiderConcept"
               optional="false">
         </commandParameter>
         <commandParameter
               id="mustConsiderConcept"
               name="mustConsiderConcept"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.archicontribs.database.menu.DBMenuComponentImportHandler"
            id="org.archicontribs.database.componentImportCommand"
            name="componentImportCommand">
      </command>
            <command
            defaultHandler="org.archicontribs.database.menu.DBMenuElementReplaceHandler"
            id="org.archicontribs.database.elementReplaceCommand"
            name="elementReplaceCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.menu.DBMenuModelImportHandler"
            id="org.archicontribs.database.modelImportCommand"
            name="modelImportCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.menu.DBMenuModelExportHandler"
            id="org.archicontribs.database.modelExportCommand"
            name="modelExportCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.menu.DBMenuMergeModelsHandler"
            id="org.archicontribs.database.mergeModelsCommand"
            name="mergeModelsCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.menu.DBMenuShowDebugHandler"
            id="org.archicontribs.database.showDebugCommand"
            name="showDebugCommand">
      </command>
            <command
            defaultHandler="org.archicontribs.database.menu.DBMenuConvertIdsHandler"
            id="org.archicontribs.database.convertIdsCommand"
            name="convertIdsCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            class="org.archicontribs.database.menu.DBMenu"
            locationURI="popup:ArchimateDiagramEditorContextMenuProvider?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.archicontribs.database.menu.DBMenu"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.archicontribs.database.menu.DBMenu"
            locationURI="popup:CanvasEditorContextMenuProvider?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.archicontribs.database.menu.DBMenu"
            locationURI="popup:SketchEditorContextMenuProvider?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.archicontribs.database.modelExportCommand"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M2+E">
      </key>
      <key
            commandId="org.archicontribs.database.modelImportCommand"
            schemeId="com.archimatetool.editor.keybindings"
            sequence="M1+M2+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/help.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help_contexts.xml"
            plugin="org.archicontribs.database.preferences">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.archimatetool.editor">
         <propertySection
               afterSection="imageSection"
               class="org.archicontribs.database.model.propertysections.DiagramModelImageSection"
               filter="org.archicontribs.database.model.propertysections.DiagramModelImageSection$Filter"
               id="databaseImageSection"
               tab="main.tab">
         </propertySection>
         <propertySection
               afterSection="iconSection"
               class="org.archicontribs.database.model.propertysections.CanvasModelBlockSection"
               filter="org.archicontribs.database.model.propertysections.CanvasModelBlockSection$Filter"
               id="databaseImageSection"
               tab="image.tab">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
