<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
      point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="org.archicontribs.database.DBExporter"
            id="org.archicontribs.database.DBExporter"
            label="Export model to database">
      </exportHandler>
   </extension>
   <extension
      point="com.archimatetool.editor.importHandler">
      <importHandler
            class="org.archicontribs.database.DBImporter"
            id="org.archicontribs.database.DBImporter"
            label="import model from database">
      </importHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.database.preferences.DBPreferencePage"
            id="org.archicontribs.database.DBPreferencePage"
            name="database plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.archicontribs.database.DBArchimateFactory"
            uri="http://www.archimatetool.com/archimate">
      </factory>
      <factory
            class="org.archicontribs.database.DBCanvasFactory"
            uri="http://www.archimatetool.com/archimate/canvas">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archicontribs.database.DBMenuComponentHistoryHandler"
            id="org.archicontribs.database.componentHistoryCommand"
            name="componentHistoryCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.DBMenuComponentImportHandler"
            id="org.archicontribs.database.componentImportCommand"
            name="componentImportCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.DBMenuModelExportHandler"
            id="org.archicontribs.database.modelExportCommand"
            name="modelExportCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.DBMenuMergeModelsHandler"
            id="org.archicontribs.database.mergeModelsCommand"
            name="mergeModelsCommand">
      </command>
      <command
            defaultHandler="org.archicontribs.database.DBMenuVoidHandler"
            id="org.archicontribs.database.void"
            name="void">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ArchimateDiagramEditorContextMenuProvider?after=additions">
         <separator
               name="org.archicontribs.database.separator"
               visible="true">
         </separator>
         <dynamic
               class="org.archicontribs.database.DBMenu"
               id="org.archicontribs.database.DBMenu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=additions">
         <separator
               name="org.archicontribs.database.separator"
               visible="true">
         </separator>
         <dynamic
               class="org.archicontribs.database.DBMenu"
               id="org.archicontribs.database.DBMenu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:CanvasEditorContextMenuProvider?after=additions">
         <separator
               name="org.archicontribs.database.separator"
               visible="true">
         </separator>
         <dynamic
               class="org.archicontribs.database.DBMenu"
               id="org.archicontribs.database.DBMenu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:SketchEditorContextMenuProvider?after=additions">
         <separator
               name="org.archicontribs.database.separator"
               visible="true">
         </separator>
         <dynamic
               class="org.archicontribs.database.DBMenu"
               id="org.archicontribs.database.DBMenu">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/help.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
